body{
    background-color: white;
}

header{
    margin: 50px;
    padding: 100px;
    background-color: grey;
}

h1{
    color: white;
    text-align: center;
    font-size: 80px;
}

.addEmployeeLine{
    margin: 50px;
    color: black;
    font-size: 20px;
    
}

.InputFirst{
    border: 20vh 20vh black;
    background-color: black;
    color: aqua;
}
.InputLast{
    border: 20vh 20vh black;
    background-color: black;
    color: aqua;
}
.InputIdNumber{
    border: 20vh 20vh black;
    background-color: black;
    color: aqua;
}
.InputJobTitle{
    border: 20vh 20vh black;
    background-color: black;
    color: aqua;
}
.InputAnnualSalary{
    border: 20vh 20vh black;
    background-color: black;
    color: aqua;
}
